html
  body
    h1 Poll Show page
    br
    a.admin-url(href= poll.adminUrl)=poll.adminUrl
    br
    a.voter-url(href= poll.voterUrl)=poll.voterUrl
    br
    ul#poll
      each val in poll.choices
        li= val
    br
    a(href='/') Back
    br
    =poll.choices
