html
  body
    h1 Poll Show page
    br
    a.admin-url(href= poll.adminUrl)=poll.adminUrl
    br
    a.voter-url(href= poll.voterUrl)=poll.voterUrl
    br
    .question=poll.question
    br
    ul#poll
      each val, index in poll.choices
        li(class='choice-'+index)= val
    br
    a(href='/') Back
    br
    =poll.choices
